body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 0 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 20px;
    box-sizing: border-box;
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
}

a {
    color: #004896;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
